@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

.box-shadow {@apply rounded-sm shadow-sm;}
.fade-in-scale{@apply animate-fade-in-scale;}

@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 100;
    src:  url('../fonts/Pretendard-Thin.woff') format('woff'),
        url('../fonts/Pretendard-Thin.woff2') format('woff2');
}
@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 200;
    src:  url('../fonts/Pretendard-ExtraLight.woff') format('woff'),
        url('../fonts/Pretendard-ExtraLight.woff2') format('woff2');
}
@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 300;
    src:  url('../fonts/Pretendard-Light.woff') format('woff'),
        url('../fonts/Pretendard-Light.woff2') format('woff2');
}
@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    src:  url('../fonts/Pretendard-Regular.woff') format('woff'),
        url('../fonts/Pretendard-Regular.woff2') format('woff2');
}
@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 500;
    src:  url('../fonts/Pretendard-Medium.woff') format('woff'),
        url('../fonts/Pretendard-Medium.woff2') format('woff2');
}
@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    src:  url('../fonts/Pretendard-SemiBold.woff') format('woff'),
        url('../fonts/Pretendard-SemiBold.woff2') format('woff2');
}
@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    src:  url('../fonts/Pretendard-Bold.woff') format('woff'),
        url('../fonts/Pretendard-Bold.woff2') format('woff2');
}
@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 800;
    src:  url('../fonts/Pretendard-ExtraBold.woff') format('woff'),
        url('../fonts/Pretendard-ExtraBold.woff2') format('woff2');
}
@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 900;
    src:  url('../fonts/Pretendard-Black.woff') format('woff'),
        url('../fonts/Pretendard-Black.woff2') format('woff2');
}


:root{
}
html{height: 100%;}
body{
    position: relative;
    min-height:100%;
    font-family: 'Pretendard', sans-serif;
    color: #424242;
}

.inner{
    width: 100%;
    max-width: 1480px;
    margin: 0 auto;
    padding: 0 20px;
}
.grid{
    display: grid; gap: 21px;
}

.blind{
    position: absolute;
    width: 1px; height: 1px;
    overflow: hidden;
    margin: -1px;
    clip: rect(0,0,0,0);

}
.mo-show {display: none;}

@media all and (min-width:811px){
    
}
@media all and (max-width: 810px){
    .pc-show{display: none;}
    .mo-show{display: block;}
}
@media all and (max-width: 375px){

}